.room {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  padding: 10px 10px 20px;
}

.chat-container {
  width: 100%;
  border: 1px solid #4a5568;
}

.chat-messages {
  scrollbar-width: thin;
}

.chat-message {
  word-break: break-word;
}


.connected-users-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  z-index: 50;
}

.avatar1 {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
}

.extra-count {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #6b7280; /* Tailwind gray-500 */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  font-weight: bold;
  color: white;
}

.languageFieldWrapper {
  padding: 2px 6px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.languageField {
  padding: 6px 10px;
  background-color: #f0f0f0;
  border: none;
  outline: none;
  text-transform: capitalize;
}

.roomCodeEditor {
  flex: 1;
}

.roomSidebarBtn {
  font-size: 75%;
  font-weight: bold;
  padding: 10px 15px;
  background-color: white;
  border: 1px solid black;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.45s ease-in-out 0.05s;
}
.roomSidebarBtn:hover {
  color: white;
  background-color: black;
}


.roomSidebarUsers {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.roomSidebarUsersEach {
  display: grid;
  justify-items: center;
}

.roomSidebarUsersEachAvatar {
  color: white;
  border-radius: 5px;
  min-width: 30px;
  min-height: 30px;
  padding: 5px;
  font-size: small;

  display: grid;
  place-items: center;
}

.roomSidebarUsersEachName {
  font-weight: bold;
  font-size: small;
}
.roomSidebar{
    max-width: 30vw;
  }
@media screen and (min-width: 991px) {
  .room {
    flex-direction: row;
  }
  

  .roomSidebar > *:nth-child(2) {
    margin-top: auto;
  }

  
}
.audio-visualizer {
  display: flex;
  gap: 2px;
  margin-left: 8px;
  height: 15px;
  align-items: center;
}

.audio-bar {
  width: 3px;
  height: 100%;
  background: #4ade80;
  border-radius: 2px;
  transform-origin: bottom;
}